// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.35;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  // font-weight: 700;
  line-height: 1.1;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

article {
  width: 75%;
  margin: 1rem auto 3rem;
}

article > header {
  overflow: auto;
}

.home {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-block {
  position: relative;
  overflow: hidden;
}

.hero-logo-container {
  float: left;
  width: 25%;
  padding: 1rem;
}

.hero-logo-container > .hero-logo {
  display: block;
  width: 150px;
  margin: auto;
}

.hero-title-container {
  float: left;
  width: 75%;
}

.hero-title-container > .hero-title {
  font-size: 3rem;
  margin: 2rem 0 0;
  color: #990000;
}

.hero-title-container > .hero-tagline {
  color: #999;
  margin: 0.25rem 0;
}

.article-poster {
    float: left;
    width: 25%;
    margin-right: 1.5rem;
}

.article-title > h2 {
    font-size: 1.2em;
    color: #999;
}

.article-title > h1 {
    font-size: 2rem;
    margin-bottom: 0;
    color: #990000;
}

// This mixin provides a fancier clearfix than using the overflow property!
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
