<main class="home">
  <header class="hero-block">
    <figure class="hero-logo-container">
      <%= image_tag '501st-logo.png', class: 'hero-logo' %>
    </figure>
    <div class="hero-title-container">
      <h1 class="hero-title">Stormtroopers Unite!</h1>
      <h2 class="hero-tagline">The Intergalactic Union of Stormtroopers</h2>
    </div>
  </header>
  <section class="latest">
    <%= image_tag 'stormtroopers.jpg' %>

    <article class="rogue-one">
      <header>
        <figure class="article-poster">
          <%= image_tag 'rogue-one.jpg' %>
        </figure>
        <div class="article-title">
          <h1>Rogue One Is Coming</h1>
          <h2>Release date is set for December 16, 2016</h2>
        </div>
      </header>
      <div class="article-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, laboriosam qui?
          Magni labore esse ut ab eaque et, delectus quos saepe, nemo, sunt accusantium,
          rerum a qui fugiat placeat velit?
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </article>
  </section>
</main>
