<article class="film">
  <header class="hero-block">
    <figure class="hero-logo-container">
      <%= image_tag '501st-logo.jpg', class: 'hero-logo' %>
    </figure>
    <div class="hero-title-container">
      <h1 class="hero-title">Stormtroopers Unite!</h1>
      <h2 class="hero-tagline">The Intergalactic Union of Stormtroopers</h2>
    </div>
  </header>
  <section class="latest">
    <%= image_tag 'stormtroopers.jpg' %>
    Some stuff about Rogue One.
  </section>
</article>
