*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.film {
  width: 50%;
  margin: 40px auto;
  border: 1px solid #eee;
  overflow: auto;
  padding: 1rem;
  position: relative
}

.film > figure {
  float: left;
  width: 30%;
  position: relative;
}

.film-details {
  float: left;
  width: 70%;
  padding: 0 1rem;
}

.film-title {
  margin: 0;
}

.fa {
  color: red;
}

.action-watch-later {
  position: absolute;
  top: 8px;
  right: 8px;
}

.action-like {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
