*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  height: 2000px;
}

.container {
  position: relative;
  width: 90%;
  margin: auto;
  border: 3px solid black;
  background-color: #eee;
}

.box {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.red {
  background-color: pink;
  position: absolute;
  top: 50px;
  right: 100px;
}

.green {
  background-color: lightgreen;
  position: absolute;
  bottom: 50px;
  right: 50%;
}

.blue {
  background-color: lightblue;
  position: relative;
  top: 50px;
  left: 200px;
  z-index: 10;
}

.orange {
  background-color: orange;
  position: absolute;
  top: 75%;
  left: 25%;
}

.yellow {
  background-color: yellow;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}
