*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  height: 2000px;
}

.container {
  width: 90%;
  margin: auto;
  border: 3px solid black;
  background-color: #eee;
}

.box {
  width: 200px;
  height: 200px;
}

.red {
  background-color: pink;
}

.green {
  background-color: lightgreen;
}

.blue {
  background-color: lightblue;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}
